<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="10" md="6">
        <v-text-field
          v-model.trim="term"
          clearable
          label="Busqueda"
          :error-messages="errTerm"
          @keypress.enter="search()"
        />
      </v-col>
      <v-col cols="10" md="4">
        <v-btn
          block
          color="secondary"
          :loading="loading"
          @click="search()"
        >
          <v-icon left>mdi-magnify</v-icon>
          Buscar
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-for="(item, index) in items" :key="index" cols="12" md="6" lg="4">
        <CardMovie
          v-if="item.type === 'movie'"
          :item="item"
          @play-trailer="playTrailer"
        />
        <CardPerson
          v-else-if="item.type === 'person'"
          :item="item"
        />
        <CardTrack
          v-else-if="item.type === 'track'"
          :item="item"
        />
        <CardTVShow v-else :item="item" />
      </v-col>
    </v-row>
    <v-dialog v-model="trailerDialog" max-width="600px">
      <ShowTrailer
        :url="trailerURL"
        @close="trailerDialog = false"
      />
    </v-dialog>
  </v-container>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { compare } from '@/utils/sort'
import CardMovie from '@/components/CardMovie'
import CardPerson from '@/components/CardPerson'
import CardTrack from '@/components/CardTrack'
import CardTVShow from '@/components/CardTVShow'
import ShowTrailer from '@/components/ShowTrailer'
export default {
  components: {
    CardMovie,
    CardPerson,
    CardTrack,
    CardTVShow,
    ShowTrailer
  },
  data () {
    return {
      term: '',
      loading: false,
      items: [],
      trailerDialog: false,
      trailerURL: ''
    }
  },
  computed: {
    errTerm () {
      const errs = []
      if (!this.$v.term.$dirty) return errs
      !this.$v.term.required && errs.push('Ingresa un término de busqueda')
      return errs
    }
  },
  methods: {
    async search () {
      this.$v.term.$touch()
      if (!this.$v.term.$invalid) {
        try {
          this.loading = true
          const requests = [
            this.getTracks(),
            this.getMovies(),
            this.getTvShows(),
            this.getPersons()
          ]
          const values = await Promise.all(requests)
          const results = values.reduce((acc, coll) => acc.concat(coll), [])
          this.items = results.sort(compare)
          this.loading = false
        } catch (error) {
          this.loading = false
          alert('😅 Ha ocurrido un error')
        }
      }
    },
    async getTracks () {
      const { data } = await this.$api.get(`/tracks?term=${this.term}`)
      return data.map(i => ({
        ...i,
        key: i.trackName,
        type: 'track'
      }))
    },
    async getMovies () {
      const { data } = await this.$api.get(`/movies?term=${this.term}`)
      return data.map(i => ({
        ...i,
        key: i.trackName,
        type: 'movie'
      }))
    },
    async getTvShows () {
      const { data } = await this.$api.get(`/tvshows?term=${this.term}`)
      return data.map(i => {
        let summary = i.show.summary
        if (summary.length > 160) {
          summary = summary.substring(0, 159)
          summary += '...</p>'
        }
        return {
          ...i,
          key: i.show.name,
          summary,
          type: 'tvshow'
        }
      })
    },
    async getPersons () {
      const { data } = await this.$api.get(`/persons?term=${this.term}`)
      return data.map(i => ({
        ...i,
        key: i.Name,
        type: 'person'
      }))
    },
    playTrailer (url) {
      this.trailerURL = url
      this.trailerDialog = true
    }
  },
  validations: {
    term: { required }
  }
}
</script>
