<template>
  <v-card>
    <v-card-title>
      <v-icon x-large class="mr-1">mdi-account</v-icon>
      {{ item.Name }}
    </v-card-title>
    <v-card-text>
      <p class="subtitle-2 my-1">
        <strong>SSN: </strong>{{ item.SSN }}
      </p>
      <p class="subtitle-2 my-1">
        <strong>DOB: </strong>{{ item.DOB }}
      </p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => null
    }
  }
}
</script>
