<template>
  <v-card>
    <v-card-title>
      <v-icon x-large class="mr-1">mdi-filmstrip</v-icon>
      {{ item.trackName }}
    </v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="4">
          <v-img :src="item.artworkUrl100" height="auto" width="120px" />
        </v-col>
        <v-col cols="8">
          <p class="subtitle-1 my-1">
            <strong>Director: </strong>{{ item.artistName }}
          </p>
          <p class="subtitle-2 my-1">
            {{ item.shortDescription }}
          </p>
          <v-btn
            outlined
            small
            color="primary"
            :href="item.trackViewUrl"
            target="_blank"
            class="mr-2"
          >Link</v-btn>
          <v-btn
            outlined
            small
            color="secondary"
            @click="$emit('play-trailer', item.previewUrl)"
          >Ver trailer</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => null
    }
  }
}
</script>
