<template>
  <v-card>
    <v-card-title>
      <v-icon x-large class="mr-1">mdi-television</v-icon>
      {{ item.show.name }}
    </v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="4">
          <v-img :src="item.show.image.medium" height="auto" width="120px" />
        </v-col>
        <v-col cols="8">
          <p class="subtitle-2 my-1">
            <strong>Score: </strong>{{ item.score }}
          </p>
          <p class="subtitle-2 my-1">
            <strong>Status: </strong>{{ item.show.status }}
          </p>
          <p class="subtitle-2 my-1" v-html="item.summary"></p>
          <v-btn
            outlined
            small
            color="primary"
            :href="item.show.officialSite"
            target="_blank"
          >Link</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => null
    }
  }
}
</script>
