<template>
  <v-card color="transparent" tile flat>
    <video :src="url" controls class="video" />
    <v-icon
      x-large
      color="error"
      class="close"
      @click="$emit('close')"
    >mdi-close</v-icon>
  </v-card>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      default: () => ''
    }
  }
}
</script>

<style scoped>
.video {
  width: 100%;
  height: auto;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>
