<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
      id="appbar"
    >
      <v-toolbar-title>
        <v-icon>mdi-magnify</v-icon>
        GO SEARCH
      </v-toolbar-title>
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>
    <v-slide-x-transition>
      <v-btn
        v-if="showScroll"
        fab
        fixed
        right
        bottom
        color="primary"
        @click="goTop()"
      >
        <v-icon>mdi-chevron-up</v-icon>
      </v-btn>
    </v-slide-x-transition>
    <v-footer color="secondary">
      <v-card
        flat
        tile
        width="100%"
        class="secondary text-center"
      >

        <v-card-text class="white--text">
          {{ new Date().getFullYear() }} — <strong>Sergio Ajanel</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      showScroll: false
    }
  },
  mounted () {
    window.addEventListener('scroll', this.scrollHandler)
  },
  methods: {
    goTop () {
      this.$vuetify.goTo('#appbar', {
        duration: 300,
        easing: 'easeInOutCubic'
      })
    },
    scrollHandler () {
      if (window.pageYOffset >= window.innerHeight) {
        this.showScroll = true
      } else {
        this.showScroll = false
      }
    }
  }
}
</script>
